/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif;
    font-size: 14px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
    font-family: 'monospace', Courier;
    font-size: 35px;
    font-weight: normal;
    color: rgb(19,24,98);
    margin-top: 5px;
}

/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#FedTax { color: rgb(84,107,171); }
#readin { color: rgb(46,68,130)}